.home-project-info {
    padding: 15px;
    background-color: #443f3d;
    color: #fff;
    text-align: center;
    width: 90%;
    min-height: 145px;
    max-height: 145px;
}

.home-project-headline {
    font-size: 14px;
    margin: 10px 0;
}

.home-project-meta-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    justify-content: center;
}

.project-column {
    justify-content: center;
    text-align: center;
    background: yellow;
    width: 15%;
    min-height: 400px;
    max-height: 400px;
}

.home-project-image {
    padding-top: 10px;
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.home-project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

.home-project-meta, .home-project-meta a {
    font-size: 12px;
    color: #fff;
}

.home-project-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}